<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EcoFarm_SQL_Lab2.Properties.Settings.EcoFarm_DBConnectionString"
            connectionString="Data Source=DESKTOP-50OOFA6;Initial Catalog=EcoFarm_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EcoFarm_SQL_Lab2.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLOLEDB.1;Data Source=DESKTOP-50OOFA6;Integrated Security=SSPI;Initial Catalog=EcoFarm_DB"
            providerName="System.Data.OleDb" />
        <add name="EcoFarm_SQL_Lab2.Properties.Settings.EcoFarm_DBConnectionStringODBC"
            connectionString="Driver={SQL Server};server=DESKTOP-50OOFA6;trusted_connection=Yes;app=Microsoft® Visual Studio®;wsid=DESKTOP-50OOFA6;database=EcoFarm_DB;language=русский"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>